:root {
  --main-color: rgb(201, 89, 106);
  --secondary-color: rgb(242, 185, 202);
  --accent-color: rgb(109, 81, 87);
}

header {
    display: block;
    text-align: center;
    color: var(--main-color);
    font-family: "Kanit", sans-serif;
    font-size: 36px;
  }
   
  select {
    background-color: rgb(242, 185, 202);
    color: rgb(255, 255, 255);
    border-color: rgb(201, 89, 106);
    border-width: 3px;
    border-radius: 7px;
    padding: 7px 5px;
    text-align: center;
    font-family: "Kanit", sans-serif;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .city {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin: 10px 0;
    border-bottom: 1px rgba(201, 89, 106, 0.9);
    text-align: left;
    font-family: "Raleway", sans-serif;
    color: rgb(155, 73, 85);
  }
  
  .date {
    color: var(--accent-color);
    opacity: 0.7;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
  }
  
  .time {
    font-size: 46px;
    font-weight: bold;
    color: var(--accent-color);
    font-family: "Courier New", Courier, monospace;
  }